flask==3.0.0
flask-bcrypt==1.0.1
flask-login==0.6.3
flask-wtf==1.2.1
flask-limiter==3.5.0
scikit-learn
nltk
beautifulsoup4
requests
python-dotenv
pandas
numpy
psycopg2-binary
gunicorn
deep-translator==1.11.4
requests
langdetect==1.0.9
google-generativeai==0.8.3